<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apprikart.rotationmatrixdemo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--If we want to publish our application into PlayStore we need to provide the below lines-->
    <uses-feature
        android:name="android.hardware.Sensor.linear_acceleration"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.Sensor.rotation_vector"
        android:required="true" />

    <application
        android:name=".GPSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning" />

</manifest>